.chat_main_draggable
{
    z-index: 5;
    width: 300px;
    height: 400px;
    background-color: #9d71ff;
    overflow-y: scroll;
    padding: 10px;
}

.message
{
    padding: 5px;
    font: 13px/18px Tahoma,sans-serif,Arial,Helvetica;
    line-height: 200%;
}

.you
{
    margin-right: 20%;
    background-color: #6fdaff;
}
.stranger
{
    margin-left: 20%;
    background-color: #f1fff8;
}
.message-input-box
{
    height: 20%;
    display: flex;
    align-items: center;
    flex-direction: column;

}
.messages
{
    height: 80%;
}
.message-input
{
    height: 30px;
    width: 70%;
    border-radius: 5px;
    border: 1px solid gray;
    overflow: scroll;


}
::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* make scrollbar transparent */
}


.input-box-btn
{
    text-align: center;
    height: 34px;
    width: 15%;
    border-radius: 5px;
    margin: 1px;
    background: 0;
    border: 1px solid gray;
}
.input-box-btn:hover
{
    background-color: #43a0ff;
}
#math-stuff
{
    padding: 10px;
    margin: 10px;
    display: grid;
    grid-template-columns:  repeat(6, 40px);
    grid-template-rows: repeat(2, 40px);
    background-color: #f0e4ff;
    grid-gap: 5px;


}

.msg-inp-row
{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.grid-item
{
    margin: 0;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    background-color: #96c2ff;

}
.mafs
{
    font-size: 20px;
    text-align: center;
    vertical-align: center;
}
