<!DOCTYPE html>
<html lang="en">

<head>

    {% load static %}
{#    <script src="{% static "js/utils.js" %}"></script>#}
{#    <link  rel="stylesheet" href="{% static "style.css" %}">#}
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/chat.css" %}">

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>



    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathquill/0.10.1/mathquill.js"></script>
    <script src="{% static "js/objects.js" %}"></script>
    <script src="{% static "js/utils.js" %}"></script>
    <script src="{% static "js/canvas_interactions.js" %}"></script>
    <script src="{% static "js/image_interactions.js" %}"></script>
    <script src="{% static "js/command_handlers.js" %}"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Title</title>




{% csrf_token %}
</head>

<script src="{% static "js/chat.js" %}"></script>

<div id="draggable" class="chat_main_draggable hidden">
    <div class="messages">

    </div>
    <div class="message-input-box">
        <div class="msg-inp-row">
            <span id="math-field" class="hidden chat-input"></span>
            <input id="text-field"  class="chat-input" placeholder="plain text">
            <script>
                initialize_math_elem(document.getElementById("math-field"))
            </script>
            <button class="input-box-btn" onclick="toggle_math()" title="toggle modes"><span class="mafs">&#215;</span></button>
            <button class="input-box-btn" onclick="send_chat()" title="send"><i class="material-icons">send</i></button>
        </div>

    </div>

</div>

</div>
<script>enable_draggable();</script>
<script>
      $("#math-field").on("click", disable_draggable);
        $(".messages").on("click", enable_draggable);
</script>




<body id="body">

    <div id="toolbar">
        <div class="toolbar-row ">
            <input id="username" placeholder="username"><button onclick="start()">submit</button>
{#            <input id="cook" placeholder="kuk"><button onclick="start()">submit</button>#}
            <button onclick="toggle(document.getElementById('draggable'), 'chat')"> chat</button>
            <button onclick="toggle(document.getElementById('log'), 'log')"> log</button>
            <div class="aligned-group">
                 <select id="toolbox" >
                <option>pencil</option>
                <option>erase</option>
                <option>text</option>
                <option>edit background</option>
                <option>line</option>
            </select>
            </div>


            <div class="eval aligned-group">
                <input id="eval-com">
                <button onclick="eval_com()">eval</button>
            </div>

            <div class="aligned-group">
                <button onclick="clear_canvas(true)">clear canvas</button>
            </div>

            <div class="nav-page aligned-group">
                <button class="nav-page-btn" onclick="prev()">previous page</button>
                <button  class="nav-page-btn" onclick="next()">next page</button>
            </div>


        </div>
        <div class="toolbar-row">

            <textarea id="textarea" placeholder="chat here" onchange="set_text(this.value, true)"
                      oninput="set_text(this.value, true)"></textarea>
            <div class="row pick_color">
                <table>
                    <tr>
                        <td>
                            <div onclick="stroke_color('red')" id="red" class="color-pick"></div>

                        </td>
                        <td>
                            <div onclick="stroke_color('green')" id="green" class="color-pick"></div>

                        </td>
                        <td>
                            <div onclick="stroke_color('blue')" id="blue" class="color-pick"></div>
                        </td>
                        <td>
                            <div onclick="stroke_color('yellow')" id="yellow" class="color-pick"></div>
                        </td>

                        <td>
                            <div onclick="stroke_color('black')" id="yellow" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('white')" id="white" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('gray')" id="gray" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#626578')" id="#626578" class="color-pick"></div>
                        </td>
                    </tr>
                    <tr>
                        <td>
<div onclick="stroke_color('#78d65e')" id="#78d65e" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#1d7006')" id="#1d7006" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#e34bd4')" id="#e34bd4" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#e86183')" id="#e86183" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#6fb4e8')" id="#6fb4e8" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#095894')" id="#095894" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#053457')" id="#053457" class="color-pick"></div>
                        </td>
                        <td>
<div onclick="stroke_color('#dea02c')" id="#dea02c" class="color-pick"></div>
                        </td>
                    </tr>
                </table>

            </div>

            <div class="column">
                <div class="row">
                    <input type="range" id="font_size" name="font_size" min="10" max="40" oninput="font(this.value)"
                           list="tickmarks">
                    <p class="label">font</p>
                </div>
                <div class="row">
                    <input type="range" id="eraser" name="eraser" min="5" max="40" oninput="set_eraser_thickness(this.value)"
                    list="tickmarks">
                    <p class="label">eraser</p>
                </div>
                <datalist id=tickmarks>
                <option>5</option>
                <option>10</option>
                <option>15</option>
                <option>20</option>
                <option>25</option>
                <option>30</option>
                <option>35</option>
                <option>35</option>
                <option>40</option>
                <option>45</option>
                <option>50</option>
                </datalist>

            </div>

        </div>
     </div>


        <div class="row">
            <div>
                <div class="main-action scene-bg"></div>
                <canvas class="main-action" width="1500" height="1000" id="canvas" ondrop="drop(event)" ondragover="return false" style="position: absolute; z-index: 2"></canvas>
                <div id="del-img">drop here to delete image</div>
            </div>
            <div>
                <div class="log hidden" id="log"></div>
            </div>

        </div>



<script>
    let darude = new Audio( "{% static  "darude.ogg" %}" );
    let relax = new Audio( "{% static  "relax.ogg" %}" );
    let soup = new Audio( "{% static  "soup.ogg" %}" );
    let alert_s = new Audio( "{% static  "soup.ogg" %}" );
</script>

    <script src="{% static "js/main.js" %}"></script>



</body>

</html>
{#?9:47:15#}