body
{
    height: 100vh;
    background: rgb(35,174,182);
    background: linear-gradient(90deg, rgba(35,174,182,1) 4%, rgba(98,211,215,1) 22%, rgba(13,125,171,1) 37%, rgba(32,138,177,1) 49%, rgba(39,210,87,1) 54%, rgba(19,177,122,1) 56%, rgba(119,45,143,1) 58%, rgba(58,156,168,1) 63%, rgba(76,203,178,1) 89%, rgba(0,212,255,1) 96%);

}

#canvas
{
    border: 1px black solid;
}

#toolbar
{
    top: 0;
    left: 0;
    background: rgb(65,131,135);
    background: radial-gradient(circle, rgba(65,131,135,1) 4%, rgba(79,179,79,1) 22%, rgba(29,81,102,1) 37%, rgba(32,138,177,1) 49%, rgba(126,57,139,1) 56%, rgba(58,156,168,1) 63%, rgba(7,156,127,1) 91%, rgba(0,212,255,1) 100%);
    position: fixed;
    background-color: #43a0ff;
    z-index: 3;
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;
    height: 148px;
    border: 1px solid #aefbff;
}

.bg-image{z-index: 1;}

.row
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.color-pick{width: 20px;height: 20px; margin: 5px; border: 1px solid black;}

#red{background-color: red}

#green{background-color: green}

#blue{background-color: blue}

#yellow{background-color: yellow}

.main-action
{
    top: 150px;
    width: 1500px;
    height: 1000px;
    position: absolute;
    left: calc((100vw - 1500px)/2);
    right:calc((100vw - 1500px)/2);
    /*background-color: #cdd6ff;*/
}

.nav-page-btn
{
    width: 100px!important;
    margin: 5px;
}
.nav-page
{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.aligned-group
{
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

.eval
{

}

button
{
    background-color: rgba(63, 122, 255, 0.8);
    border: 1px solid #9d71ff;
    border-radius: 14px;
    height: 40px;
    padding: 2px 10px 2px 10px;
    color: white;
    font-weight: 100;
    font-family: Lucida, sans-serif;
}


input
{
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
    padding-left: 5px;
    height: 30px;
}

select
{
    width: 10vw;
    height: 40px;
    border-radius: 15px;
    padding-left: 5px;
}

.toolbar-row
{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.pick_color
{
    display: flex;
    align-self: flex-start;
}

#textarea
{
width: 100%;
}
.body
{
    height: 2000px;
}

.top
{
    z-index: 2;
}

.bottom
{
    z-index: 1;
}
#del-img
{
    margin: 0;
    top:calc(1000px + 150px);
    left: calc((100vw - 1500px)/2);
    right:calc((100vw - 1500px)/2);
    width: calc(1500px - 2px);
    position: absolute;
    height: 200px;
    background-color: transparent;

}

.active
{
    display: flex;
    background-color: #ff97b8 !important;
    border: 2px dashed black;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #f1fff8;

}
.scene-bg
{
    background-color: #d2e9ff;
}

.column
{
    display: flex;
    flex-direction: column;
}

.label
{
    margin: 0 10px 0 10px;
}

.indicator
{
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: red;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}